*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #DDBFC4;
  background-blend-mode:overlay;
}

.container{
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: #fff;
  padding: 100px 100px;
  transform: translate(-50%, -50%);
  color: #444A45;
  animation-name: intro;
  animation-duration: 8s;
  font-family: 'Merriweather', serif;
  border-style: solid;
  border-width: 3px;
  border-color: #DDBFC4;

}

.name{
  letter-spacing: 8px;
  font-size: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.bio{
  padding-top: 30px;
  border-top: 3px solid #DDBFC4;
  font-size: 20px;
  text-align: left;
}

@keyframes intro {
  from{opacity: 0}
  to{opacity: 1}

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  border-radius: 50%;
}

.nav {
  text-align: center;
  margin: 0;
  padding-top: 90px;
  padding-bottom: 10px;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-envelope {
  background: #DDBFC4;
  color: white;
}

.fa-instagram {
  background: #DDBFC4;
  color: white;
}

.fa-vimeo{
  background: #DDBFC4;
  color: white;
}

.fakeha {
  text-align: center;
}
